._\33YTIV {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    -webkit-animation-name: JGcYO;
    animation-name: JGcYO;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
}

._\33 eJpF {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .6)
}

.fFnfk {
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: relative
}

._\32Jvb1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    padding: 15px;
    z-index: 1;
    color: #999;
    background-color: transparent;
    cursor: pointer
}

._\31rxOU {
    width: 100%;
    height: 100%;
    transform: rotate(45deg)
}

._\31rxOU:after, ._\31rxOU:before {
    content: '';
    background-color: currentColor;
    position: absolute
}

._\31rxOU:before {
    width: 100%;
    height: 15%;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

._\31rxOU:after {
    width: 15%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

@-webkit-keyframes JGcYO {
    0% {
        opacity: .6;
        transform: translateZ(0)
    }
    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes JGcYO {
    0% {
        opacity: .6;
        transform: translateZ(0)
    }
    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}

._\31vYsA {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 3em;
    row-gap: 3em;
    padding: 4em;
    text-align: left
}

._\31 0MND {
    color: #fff;
    padding: 3.5em;
    background-image: linear-gradient(to left, #31b3ec, #158bdf)
}

._\31 0MND img {
    width: 16em;
    padding-bottom: 1.5em
}

._\33V6WV ._\31 0MND h2 {
    font-size: 1.6em
}

._\31 6HO1 {
    color: #fff;
    background-color: #468ccb;
    border-radius: .2em;
    min-width: 13em;
    font-size: 1.4em;
    height: 3em;
    padding: 0;
    cursor: pointer;
    margin: 0 auto
}

.lZ1JM {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 3em;
    row-gap: 3em
}

.lZ1JM img {
    width: 10em
}

.lZ1JM a, .lZ1JM button {
    font-size: 1.4em
}

.lZ1JM ._\31lO_3, .lZ1JM a {
    color: #468ccb
}

.lZ1JM button {
    height: 3em;
    padding: 0;
    background: 0 0;
    cursor: pointer
}

.FXVQA {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 6em;
    -moz-column-gap: 6em;
    column-gap: 6em;
    margin: 0 auto;
    -ms-grid-columns: auto auto;
    grid-template-columns:auto auto;
    min-height: 10rem
}

.jNnRn {
    display: -ms-grid;
    display: grid;
    margin: 0 auto
}

._\32lTL7 {
    color: #fff;
    border-radius: .2em;
    min-width: 13em
}

.lZ1JM ._\32lTL7 {
    background-color: #468ccb
}

._\31lO_3 {
    margin-bottom: -1em
}

._\33W8mA {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 3em;
    row-gap: 3em
}

._\33W8mA img {
    width: 13em;
    margin: 0 auto
}

._\31ZCT7 ._\31PeQc {
    padding: 0
}

._\31ZCT7 ._\33 9iFm {
    color: #fff
}

._\31PeQc {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
    background-color: #fff;
    color: #26334a;
    font-size: 10px;
    padding: 4em;
    width: 60em;
    max-width: 100%;
    margin: 1em;
    border-radius: .3em;
    line-height: 1.5
}

._\31PeQc h2 {
    font-size: 2.1em;
    font-weight: 700
}

._\31PeQc p {
    font-size: 1.4em;
    margin: 0
}

._\31PeQc img {
    max-width: 100%;
    max-height: 100%
}

._\33T8_z {
    display: block;
    text-align: center;
    margin-bottom: 25px
}

@media screen and (max-width: 767px) {
    ._\33T8_z {
        display: none
    }
}

._\31X6lD {
    font-size: 1.8rem
}

._\33H4Y9 {
    padding: 20px
}

@media screen and (min-width: 500px) {
    ._\33H4Y9 {
        display: grid;
        display: -ms-grid;
        grid-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        grid-template-columns:auto auto;
        -ms-grid-columns: auto auto
    }
}

.M_VAp {
    outline: 0;
    background-color: #f2f8fc;
    border: 1px solid #468ccb;
    padding: 1rem;
    margin-right: 10px;
    font-size: 1.6rem;
    line-height: 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    width: 100%
}

@media screen and (max-width: 499px) {
    .M_VAp {
        padding: .75rem;
        margin-bottom: 8px
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    ._\33H4Y9 {
        display: block
    }

    .M_VAp {
        margin-bottom: 8px
    }
}

._\32-lbX {
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    background-color: #ee7f49;
    border-radius: 2px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    padding: .5rem;
    transition: .3s ease-out
}

._\32-lbX:focus, ._\32-lbX:hover {
    opacity: .8
}

.YntVc {
    text-align: center
}

._\31Iw49 {
    display: flex
}

._\32H6Rk, .hOwSu {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    width: 50%;
    display: block
}

.U0yBE {
    background: #f0f0f0
}